header {
  display: flex;
  justify-content: center;
}

.section {
  width: 80%;

  display: flex;
  justify-content: flex-start;

  margin-top: 1.5rem;
  margin-left: 1rem;
}

section > div {
  font-weight: bold;
}

.heading_container {
  flex-grow: 4;
}

.image_container {
  flex-grow: 2;
}
