.content {
  width: 85vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.content_header {
  height: 20vh;
  width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_main {
  flex-grow: 1;
}
