.main {
  color: #707070;
}

.navbarCategoryContainer {
  display: flex;
  justify-content: center;
}

.navbarCategory {
  width: 80%;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}

.navbarCategory > div:first-child {
  display: flex;
  align-items: center;
}
