.header {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.headerTop {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-between;

  flex-grow: 1;
}

.headerBottom {
  height: 50%;

  display: flex;
  justify-content: space-between;

  flex-grow: 3;
}

.headerBottom > div:first-child {
  font-size: 2rem;
  font-weight: 600;
}
